.portfolio {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .p-texts {
    width: 65%;
  }
  
  .p-title {
    width: 65%;
  }
  
  .-desc {
    margin: 20px 0px;
  }
  
  .p-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (max-width: 600px) {
    .portfolio {
      padding: 10px;
    }
  
    .p-texts {
      width: 100%;
    }
  
    .p-desc {
      display: none;
    }
  }