#portfolios {
  text-align: center;
  background-image: url('../../assets/Home/bg.jpg');
  color: var(--color-white);
  padding-top: 80px;
}

#portfolios h5 {
  font-size: 40px;
  padding-top: 1.2rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  column-gap: 1px;
  padding: 3% 15% 0 15%;
  color: var(--color-white);
}

.portfolio-item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 85%;
  height: 90%;
}

.portfolio-item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio-item-image {
  overflow: hidden;
  width: 260px;
  height: 260px;
  padding-left: 1.1rem;
}

.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-white);
}

.btn {
  color: var(--color-white);
}

.btn:hover {
  color: var(--color-bg-variant);
}

.portfolio-item p {
  margin: 1rem 0 1.2rem;
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    padding-left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 8% 0 8%;
  }
}
