.cerification {
  background-image: url('../../assets/Home/bg.jpg');
  color: var(--color-white);
}

.cerification h1 {
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  color: var(--color-primary-variant);
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  padding: 10%;
}

.a-award-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-left: 10px;
}

.a-title {
  font-weight: 400;
}

.a-sub {
  margin: 20px 0;
}

.a-desc {
  font-weight: 300;
}

.a-award {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15% 0 15%;
  grid-template-columns: 35% 50%;
  gap: 1.2rem;
}

.a-award-texts {
  width: 70%;
}

.a-award-title {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

@media screen and (max-width: 994px) {
  .a-award {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-left: 15%;
    padding-right: 5%;
    align-items: center;
    text-align: center;
  }

  .a-award-img {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    place-items: center;
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    width: var(--container-width-sm);
    align-items: center;
    text-align: center;
  }

  .a-award-img {
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    place-items: center;
  }
}
