#contact {
    text-align: center;
    margin-bottom: 1.2rem;
    background: #1b1b27;
    color: var(--color-white);
    padding-top: 100px;
}
.contact-container {
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    padding-left: 15%;
}
.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-bottom: 2rem;
}
.contact-option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact-option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}
.contact-option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact-option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
/*         Form...........*/
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-right:10% ;
}
input,textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-varient);
    resize: none;
    color: var(--color-white); 
}

@media screen and (max-width:1024px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width:600px) {
    .contact-container {
        width: var(--container-width-sm);
    }
}
